.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2% 10%;
    border-bottom: 1px solid whitesmoke;
}
.navbar-items{
    padding: 0.5rem 0.5rem;
    width: 14%;
    background: none;
}

.content{
    padding: 0 15%;
    margin-top: 2%;   
}
.mobile-navbar{
    display: none;
}
.header-menu {
    display: flex;
    justify-content: center;
}
.header-menu .dropdown {
    flex: 1;
    margin-right: var(--icon-margin-right);
}
.footer{
    display: flex;
    padding: 0 15%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-top: 2rem;
    justify-content: space-between;
}
.links a{
    margin: 0 5px;
}
.dropdown{
    background-color: whitesmoke;
    color: black;
    font-size: large;
    font-weight: bold;
    justify-self: center;
    font-style: italic;
    text-align: center;
    max-width: 40%;
}
.header-menu .dark-mode-btn {
    color: var(--dark-link);
}
@media screen and (max-width: 600px) {
    .mobile-navbar {
        display: initial;
    }
    .navbar,.cds-logo{
        display: none;
    }
    .footer{
        flex-direction: column-reverse;
        align-items: center;
    }
}