.experience{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.title{
    display: flex;
    flex-direction: row;
    column-gap: 3%;
    width: 100%;
    height: 30%;
}
.exp-details{
    float: right;
    display: flex;
    flex-direction: column;
}
.cds-logo{
    height: 4em;
}
.company-logo{
    height: 15%;
}
.role{
    font-size: large;
    color: orange;
}
.timeline-place{
    font-size: large;
}
.work-details{
    font-size: larger;
}

.company-details{
    border-bottom: 0.5px dashed whitesmoke;
}