.heading {
  color: orange;
  font-size: larger;
  font-weight: bold;
}
.project-description {
  font-size: larger;
}
.project-tech {
  margin-top: 0.5rem;
}
.tech {
  background-color: #3e92ec;
  color: white;
  border-radius: 5%;
  margin-right: 1rem;
  padding: 0.2rem 0.4rem;
}
.project {
  margin-top: 2%;
  border-bottom: 0.5px dashed whitesmoke;
}
